@if (HttpContext.Current.Session["debugMessages"] != null)
{
    <div class="bb-messages-debugger">
        <div class="bb-messages-debugger-toggle">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="bb-messages-debugger-content" style="display: none;">
            @foreach (var sentMessage in (IEnumerable<>)HttpContext.Current.Session["debugMessages"])
            {
                    <div class="bb-message-action">@sentMessage.Action (@(sentMessage.ResponsedOn.Subtract(sentMessage.RequestedOn).Milliseconds)ms)</div>
                    <div style="display: none">
                        <h5>Request</h5>
                        <pre class="bb-message-body bb-message-body-request">@sentMessage.RequestContent</pre>
                        <h5>Response</h5>
                        <pre class="bb-message-body bb-message-body-response">@sentMessage.ResponseContent</pre>
                    </div>
            }

            @{
                HttpContext.Current.Session["debugMessages"] = null; //reset list of messages for future requests
            }

            <script type="text/javascript">
                $(function () {
                    $(".bb-message-action").click(function () {
                        $(this).nextUntil(".bb-message-action").toggle();
                    });
                });
            </script>

        </div>
    </div>
}