@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>@RenderSection("title", required: true)</h4>
            <div class="panel panel-default compact-panel">
                <div class="panel-body">
                    @using (Html.BtForm())
                    {
                        @RenderBody()
                        @RenderSection("buttons", required: true)
                    }
                </div>
            </div>
        </div>
    </div>
</div>