.bb-messages-debugger {
    position: fixed;
    z-index: 10000;
    left: 20px;
    bottom: 20px;
    width: 16px;
    
}

.bb-messages-debugger-content {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
    border-radius: 3px;
    padding: 10px;
}

.bb-messages-debugger .bb-message-action {
    padding: 2px 0;
    border: 1px solid transparent;
    font-weight: bold;
}

.bb-messages-debugger .bb-message-action:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.bb-messages-debugger .bb-message-body {

    max-height: 300px;
    overflow: auto;
}

.bb-messages-debugger .bb-messages-debugger-toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 16px;
    width: 16px;
    cursor:pointer;
    opacity: 0.3;
}

.bb-messages-debugger-toggle-on {
    width: auto;
}